.owl-nav-center {
  position: relative;

  .owl-nav {
    margin: 0;

    .owl-next,
    .owl-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #e3d5ca !important;
      z-index: 3;

      i {
        color: #fff;
      }
    }

    .owl-next {
      #{$e}: -15px;
    }

    .owl-prev {
      #{$s}: -15px;
    }
  }
}
