ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.textsad {
  height: 1000vh;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #e2d9cf;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b7b0a9;
}
