@font-face {
  src: url("../fonts/cigra-regular.ttf") format("ttf");
  font-family: "Cigra - FREE DEMO";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/cigra-regular.eot") format("eot");
  font-family: "Cigra - FREE DEMO";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/cigra-regular.woff") format("woff");
  font-family: "Cigra - FREE DEMO";
  font-weight: normal;
}
@font-face {
  src: url("../fonts/cigra-regular.woff2") format("woff2");
  font-family: "Cigra - FREE DEMO";
  font-weight: normal;
}
