-
    const projectName = "Nest";
    const mainNavgation = [
        {
            "name" : "Home",
            "link" : "./index.html",
        },
        {
            "name" : "SERVEWARE",
            "link" : "javascript:void(0)", 
            "img" : "./images/categories/category1.webp",
            "dropdown" : [
                {
                    "name" : "irem 1 irem 1 irem 1", 
                    "link" : "#", 
                },
                {
                    "name" : "irem 1 irem 1 ", 
                    "link" : "#", 
                },
                {
                    "name" : "irem 1 irem 1", 
                    "link" : "#", 
                },
                {
                    "name" : "irem 1 irem 1 irem 1 irem 1", 
                    "link" : "#", 
                },
                {
                    "name" : "irem 1", 
                    "link" : "#", 
                },
            ],
        },
        {
            "name" : "ACCESSORIES",
            "link" : "javascript:void(0)", 
            "img" : "./images/categories/category2.webp",
            "dropdown" : [
                {
                    "name" : "irem 1", 
                    "link" : "#", 
                }
            ],
        },
        {
            "name" : "DISPOSABLES",
            "link" : "javascript:void(0)", 
            "img" : "./images/categories/category3.webp",
            "dropdown" : [
                {
                    "name" : "irem 1", 
                    "link" : "#", 
                }
            ],
        },
        {
            "name" : "KIDS",
            "link" : "javascript:void(0)", 
            "img" : "./images/categories/category4.webp",
            "dropdown" : [
                {
                    "name" : "irem 1", 
                    "link" : "#", 
                }
            ],
        },
        {
            "name" : "CAMPING",
            "link" : "javascript:void(0)",
            "img" : "./images/categories/category5.webp", 
            "dropdown" : [
                {
                    "name" : "irem 1", 
                    "link" : "#", 
                }
            ],
        },
        {
            "name" : "JANITORIALS & AIR FRESHENERS",
            "link" : "javascript:void(0)", 
            "img" : "./images/categories/category6.webp",
            "dropdown" : [
                {
                    "name" : "irem 1", 
                    "link" : "#", 
                },
                {
                    "name" : "irem 2", 
                    "link" : "#", 
                },
            ],
        },
        {
            "name" : "GIFTS",
            "link" : "javascript:void(0)", 
            "img" : "./images/categories/category7.webp",
            "dropdown" : [
                {
                    "name" : "irem 1", 
                    "link" : "#", 
                }
            ],
        },
        {
            "name" : "OPTIONS",
            "link" : "javascript:void(0)", 
            "dropdown" : [
                {
                    "name" : "irem 1", 
                    "link" : "#", 
                }
            ],
        },
    ];
    const socialMedia = [
        {
            "tag" : "fa-brands fa-pinterest-p",
            "link" :"#"
        },
        {
            "tag" : "fa-brands fa-facebook-f",
            "link" :"#"
        },
        {
            "tag" : "fa-brands fa-instagram",
            "link" :"#"
        },
        {
            "tag" : "fa-brands fa-whatsapp",
            "link" :"#"
        },
        {
            "tag" : "fa-brands fa-snapchat",
            "link" :"#"
        },
    ]