include ./abstracts/_variables
include ./abstracts/_mixins
include ./components/_sectionHeader
doctype html
html(lang="ar", dir = "rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{projectName}
        +mainStyle('rtl', [
            "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css",
            "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        ])
    body 
        //- Start NavBar
        include ./layout/_navbar.pug 
        //- End NavBar

        //- Start NavBar
        include ./layout/_header.pug 
        //- End NavBar

        //- Start Shop By Category 
        section.py-5.categories 
            .container 
                +sectionHeader("test test test" , "http://google.com")

        //- End Shop By Category 

        //- Start footer
        include ./layout/_footer.pug 
        //- End footer

        //- Start Scripts 
        +mainScript([
            "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js",
            "./js/owl-init.js",
        ])
