.product_card {
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;

  &__img {
    display: block;
    overflow: hidden;

    img {
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &.onSale {
    .product_card__img__sale {
      border-bottom-#{$s}-radius: 20px;
      position: absolute;
      top: 0;
      #{$e}: 0;
      background-color: #ffdcdc;
      color: #ff2121;
      text-align: center;
      font-size: 13px;
      font-weight: 900;
      line-height: 12px;
      text-transform: uppercase;
      width: 50px;
      height: 50px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.new {
    .product_card__img__new {
      border-bottom-#{$e}-radius: 20px;
      position: absolute;
      top: 0;
      #{$s}: 0;
      background-color: #ffdcdc;
      color: #000;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      line-height: 12px;
      text-transform: uppercase;
      width: 50px;
      height: 50px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        transform: rotate(-35deg);
      }
    }
  }

  &__content {
    padding: 0.5rem;

    &__product {
      display: flex;

      &__title {
        min-width: 10ch;
        font-weight: 400;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
      }

      &__love {
        width: 20px;
        height: 20px;
      }
    }

    &__cartPrice {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__addToCart {
        padding: 0;

        a {
          display: block;
          background-color: #e3d5ca;
          color: #000;
          text-transform: capitalize;
          padding: 0.25rem 1rem;
          border-radius: 4rem;
        }
      }

      &__price {
        color: #292d32;
        font-weight: 400;
        text-transform: uppercase;

        .old-price {
          font-size: 14px;
          color: #858585;
          text-decoration: line-through;
        }
      }
    }

    &__actions {
      ul {
        display: flex;
        gap: 5px;
      }

      &__color {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }
  }
}
