.section__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__headding {
    width: fit-content;
    position: relative;
    padding-bottom: 0.25rem;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 400;

    &::after {
      content: "";
      width: 70%;
      height: 2px;
      background-color: #e3d5ca;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    #{$e}: 0;
    padding: 0;

    a {
      display: block;
      padding: 0.5rem 2rem;
      background-color: #e3d5ca;
      color: #000;
      border-radius: $mainRadius;
    }
  }
}
