.footer {
  &__top {
    border-bottom: 2px solid #e3d5ca;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__list {
    &__item {
      display: flex;
      gap: 5px;
      margin-bottom: 1rem;

      &__icon {
        width: 18px;
        height: 18px;
        flex-shrink: 0;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &__text {
        color: #292d32;
        font-weight: 500;
        a {
          color: inherit;
        }
      }
    }
  }

  &__social {
    font-weight: 600;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;

    &__list {
      display: flex;
      gap: 5px;

      &__item {
        background-color: #e3d5ca;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border-radius: 50%;

        i {
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
        }
      }
    }
  }
}
