section.hero.pt-3 
    .container.h-100
        .row.h-100.g-3
            .col-12.col-lg-8 
                .owl-carousel.owl-theme.owl-carousel--hero 
                    .item(class="hero__slide" style="background-image: url(./images/hero/slide1.webp)")
                        .hero__slide__item
                            .hero__slide__item__content 
                                h1.hero__slide__item__content__headding Descor #[br] Vases.
                                p.hero__slide__item__content__pragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                button.btn.hero__slide__item__content__btn: a(href="#") Shop Now 
                    .item(class="hero__slide" style="background-image: url(./images/hero/slide2.webp)")
                        .hero__slide__item
                            .hero__slide__item__content 
                                h1.hero__slide__item__content__headding Mix #[br] Accessories.
                                p.hero__slide__item__content__pragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                button.btn.hero__slide__item__content__btn: a(href="#") Shop Now 
                    .item(class="hero__slide" style="background-image: url(./images/hero/slide3.webp)")
                        .hero__slide__item
                            .hero__slide__item__content 
                                h1.hero__slide__item__content__headding Natural #[br] Plants.
                                p.hero__slide__item__content__pragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                button.btn.hero__slide__item__content__btn: a(href="#") Shop Now 
            .col-12.col-lg-4 
                .row.g-3
                    .col-6.col-lg-12 
                        .hero__side__img
                            img(src="./images/hero/hero-side-img1.webp" width="100%" height="218" alt="")
                            .hero__side__img__content.hero__side__img__content--one
                                h5 SEVE-WARE
                                p Lorem ipsum dolor sit amet

                    .col-6.col-lg-12 
                        .hero__side__img
                            img(src="./images/hero/hero-side-img2.webp" width="100%" height="218" alt="")
                            .hero__side__img__content.hero__side__img__content--two
                                h5 GIFTS
                                p Lorem ipsum dolor sit amet


